<!DOCTYPE html>
<html>
  <head>
    <title>VidBits</title>
    <link rel="icon" type="image/ico" href="img/favicon.ico">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,500" rel="stylesheet">
    <link rel='stylesheet' href='stylesheets/style.css'>
  </head>
  <body>
    <div class="title-container">
      <div class="title-logo">
        <img src="img/logo.svg" alt="">
      </div>
    </div>
    <div id="videos-container" class="contents-container">
        <div class="video-card">
          <div class="video-title">{{title}}</div>
          <div class="video-description">{{description}}</div>

        </div>
        <iframe class="video-player" src="{{url}}" frameborder="0" allowfullscreen></iframe>
        <a href="/videos/{{_id}}/edit" id="edit">Edit a Video</a>

  </div>
</body>
</html>
